.slider-wrap {
  position: relative;
  overflow: hidden;
}
.slider-inner {
  width: 100%;
}
.slider-inner.is-horizon {
  white-space: nowrap;
  font-size: 0;
}
.slider-inner.is-horizon--oldAndroid {
  font-family: "arial";
  font-size: 12px;
  letter-spacing: -3px;
}
.slider-inner.is-horizon .slider-item {
  width: 100%;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
}
.slider-item img {
  display: block;
  width: 100%;
}
