<script type="text/template" id="template__trip-poi">
    <div class="trip-poi">
        <div class="__hd">
            <div class="swipe">
                <div class="swipe-wrap">
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="__bd">
            <div class="__intro">
                <div class="__intro-title">婆罗浮屠</div>
                <div class="__intro-content">婆罗浮屠位于印度尼西亚，是座可追溯至9世纪，曾被火山灰掩埋了数百年的遗址，由当时统治爪哇岛的夏连特拉王朝统治者兴建。</div>
            </div>
            <div class="__info">
                <div class="__info-item">
                    <div class="__info-item-title oefont-schedual">开放时间</div>
                    <div class="__info-item-content">早上8:00-下午17:00</div>
                </div>
                <div class="__info-item">
                    <div class="__info-item-title oefont-season">适合季节</div>
                    <div class="__info-item-content">适合秋季去，秋高气爽，满怀春风。</div>
                </div>
                <div class="__info-item">
                    <div class="__info-item-title oefont-route">特色标签</div>
                    <div class="__info-item-content">
                        <a class="__info-tag" href="javascript:;">人文</a>
                        <a class="__info-tag" href="javascript:;">人文</a>
                        <a class="__info-tag" href="javascript:;">人文</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>