<script type="text/template" id="template__destination-theme-list">
    <div class="destination__theme-list _grey-bg">
        <div class="channel-header">印度尼西苑医院</div>
        <div class="__bd">
            <div class="mod-block">
                <div class="mod-block__bd">
                    <div class="normal-list__title _blue u-title_dot">我是哈哈啊哈哈哈哈哈</div>
                    <a class="mod-list-01__item" href="#/city/1">
                        <div class="mod-list-01__img u-placeholder">
                            <img src="" alt="" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                        </div>
                        <div class="mod-list-01__title">我勒个去</div>
                    </a>
                    <a class="mod-list-01__item" href="#/city/1">
                        <div class="mod-list-01__img u-placeholder">
                            <img src="" alt="" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                        </div>
                        <div class="mod-list-01__title">我勒个去</div>
                    </a>
                    <a class="mod-list-01__item" href="#/city/1">
                        <div class="mod-list-01__img u-placeholder">
                            <img src="" alt="" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                        </div>
                        <div class="mod-list-01__title">我勒个去</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</script>