<script type="text/template" id="template__destination-info">
    <div class="destination-info _grey-bg">
        <div class="__hd">
            <div class="swipe">
                <div class="swipe-wrap">
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                </div>
            </div>
            <div class="banner-title-01">
                印度尼西苑医院
            </div>
        </div>
        <div class="__bd">
            <div class="mod-block-02">
                <div class="mod-block-02__inner">
                    <div class="mod-block-02__item">
                        <div class="mod-block-02__item-hd _underline">简介</div>
                        <div class="mod-block-02__item-bd">
                            印度尼西亚共和国（印尼语：Republik Indonesia，IPA读音：[rɛpʊblɪk ɪndɔnɛsɪa]），简称印度 尼西亚或印尼，为东南亚国家之一；约由17,508个岛屿组成[8]，是全世界最大的群岛国家，疆域横跨亚洲及大洋洲，别称“千岛之国”...
                        </div>
                        <div class="mod-block-02__item-ft u-cf">
                            <a class="mod-block-02__item-link u-fr" href="#">了解更多印度尼西亚<span class="oefont-arrow-right"></span></a>
                        </div>
                    </div>
                    <div class="mod-block-02__item">
                        <div class="mod-block-02__item-hd _underline">语言</div>
                        <div class="mod-block-02__item-bd">印尼语（bahasa Indonesia）</div>
                    </div>
                    <div class="mod-block-02__item">
                        <div class="mod-block-02__item-hd _underline">签证信息</div>
                        <div class="mod-block-02__item-bd">印尼语（bahasa Indonesia）</div>
                    </div>
                    <div class="mod-block-02__item">
                        <div class="mod-block-02__item-hd _underline">货币及汇率</div>
                        <div class="mod-block-02__item-bd">印尼语（bahasa Indonesia）</div>
                    </div>
                    <div class="mod-block-02__item">
                        <div class="mod-block-02__item-hd _underline">旅行季节</div>
                        <div class="mod-block-02__item-bd">印尼语（bahasa Indonesia）</div>
                    </div>
                    <div class="mod-block-02__item">
                        <div class="mod-block-02__item-hd _underline">特色标签</div>
                        <div class="mod-block-02__item-bd u-cf">
                            <div class="mod-tag">欧酷</div>
                            <div class="mod-tag">欧酷</div>
                            <div class="mod-tag">欧酷</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>