<script type="text/template" id="template__destination-list">
    <div class="hd">
        <div class="hd__title oefont-char-mudidi"></div>
    </div>
    <div class="destination-list">
        <div class="mod-block">
            <div class="mod-block__bd">
                <div class="normal-list__title _grey u-title_dot">亚洲</div>
                <div class="destination-list__city u-cf">
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">日本</a>
                    </div>
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">印度尼西亚</a>
                    </div>
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">日本</a>
                    </div>
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">日本</a>
                    </div>
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">日本</a>
                    </div>
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">印度尼西亚</a>
                    </div>
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">日本</a>
                    </div>
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">日本</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mod-block">
            <div class="mod-block__bd">
                <div class="normal-list__title _grey u-title_dot">亚洲</div>
                <div class="destination-list__city u-cf">
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">日本</a>
                    </div>
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">印度尼西亚</a>
                    </div>
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">日本</a>
                    </div>
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">日本</a>
                    </div>
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">日本</a>
                    </div>
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">印度尼西亚</a>
                    </div>
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">日本</a>
                    </div>
                    <div class="destination-list__city-item">
                        <a class="destination-list__city-text" href="#/1">日本</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>