<script type="text/template" id="template__destination">
    <div class="destination _grey-bg">
        <div class="__hd">
            <div class="swipe">
                <div class="swipe-wrap">
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                </div>
            </div>
            <div class="banner-title-01">
                印度尼西苑医院
                <a class="__more" href="#/1/info">实用信息<i class="oefont-arrow-right"></i></a>
            </div>
        </div>
        <div class="__bd">
            <div class="mod-block">
                <div class="mod-block__hd">
                    主题体验
                    <a class="mod-block__hd-more" href="#/theme">更多<i class="oefont-arrow-right"></i></a>
                </div>
                <div class="mod-block__bd theme-list">
                    <a class="theme-list__item" href="#/theme/1">
                        <div class="theme-list__img u-placeholder">
                            <img src="" alt="" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                        </div>
                        <div class="theme-list__content">
                            <div class="theme-list__tags">
                                <div class="mod-tag">休闲鞋</div>
                            </div>
                            <div class="theme-list__title">
                                250x210那个啥那个啥那个啥那个啥那个啥那个啥那个啥那个啥那个啥那个啥那个啥那个啥那个啥那个啥那个啥那个啥那个啥那个啥那个啥那个啥
                            </div>
                        </div>
                    </a>

                    <a class="theme-list__item" href="#/theme/1">
                        <div class="theme-list__img u-placeholder">
                            <img src="" alt="" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                        </div>
                        <div class="theme-list__content">
                            <div class="theme-list__tags">
                                <div class="mod-tag">休闲鞋</div>
                            </div>
                            <div class="theme-list__title">
                                那个啥
                            </div>
                        </div>
                    </a>
                    <a class="theme-list__item" href="#/theme/1">
                        <div class="theme-list__img u-placeholder">
                            <img src="" alt="" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                        </div>
                        <div class="theme-list__content">
                            <div class="theme-list__tags">
                                <div class="mod-tag">休闲鞋</div>
                            </div>
                            <div class="theme-list__title">
                                那个啥
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <div class="mod-block">
                <div class="mod-block__hd">
                    城市
                    <a class="mod-block__hd-more" href="#/city">更多<i class="oefont-arrow-right"></i></a>
                </div>
                <div class="mod-block__bd pin-2-list">
                    <div class="pin-2-list__row u-box-flex">
                        <a class="pin-2-list__item u-box-flex__inner" href="#/city/1">
                            <div class="mod-list-01__img u-placeholder">
                                <img src="" alt="" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                            </div>
                            <div class="mod-list-01__title">我勒个去</div>
                        </a>
                        <a class="pin-2-list__item u-box-flex__inner" href="#/city/1">
                            <div class="mod-list-01__img u-placeholder">
                                <img src="" alt="" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                            </div>
                            <div class="mod-list-01__title">我勒个去</div>
                        </a>
                    </div>
                    <div class="pin-2-list__row u-box-flex">
                        <a class="pin-2-list__item u-box-flex__inner" href="#/city/1">
                            <div class="mod-list-01__img u-placeholder">
                                <img src="" alt="" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                            </div>
                            <div class="mod-list-01__title">我勒个去</div>
                        </a>
                        <a class="pin-2-list__item u-box-flex__inner" href="#/city/1">
                            <div class="mod-list-01__img u-placeholder">
                                <img src="" alt="" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                            </div>
                            <div class="mod-list-01__title">我勒个去</div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="mod-block">
                <div class="mod-block__hd">
                    热门旅行地
                    <a class="mod-block__hd-more" href="#/travel">更多<i class="oefont-arrow-right"></i></a>
                </div>
                <div class="mod-block__bd normal-list">
                    <a class="normal-list__item" href="#/travel/1">
                        <div class="normal-list__img u-placeholder">
                            <img src="" alt="" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                        </div>
                        <div class="normal-list__title">我是哈哈啊哈哈哈哈哈</div>
                    </a>
                    <a class="normal-list__item" href="#/travel/1">
                        <div class="normal-list__img u-placeholder">
                            <img src="" alt="" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                        </div>
                        <div class="normal-list__title">我是哈哈啊哈哈哈哈哈</div>
                    </a>
                    <a class="normal-list__item" href="#/travel/1">
                        <div class="normal-list__img u-placeholder">
                            <img src="" alt="" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                        </div>
                        <div class="normal-list__title">我是哈哈啊哈哈哈哈哈</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</script>