<script type="text/template" id="template__destination-city">
    <div class="destination-city">
        <div class="__hd">
            <div class="swipe">
                <div class="swipe-wrap">
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                    <div class="swipe-item u-placeholder">
                        <img src="http://weijing.qiniudn.com/u-placeholder_640x420.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="__bd">
            <div class="mod__intro">
                <div class="mod__intro-title">婆罗浮屠</div>
                <div class="mod__intro-content">婆罗浮屠位于印度尼西亚，是座可追溯至9世纪，曾被火山灰掩埋了数百年的遗址，由当时统治爪哇岛的夏连特拉王朝统治者兴建。</div>
                <div class="mod__intro-link">
                    <a class="u-fr" href="#">
                        了解更多苏拉卡尔塔
                        <i class="oefont-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="u-common __poi">
                <div class="__poi-hd">
                    <div class="__poi-hd-ico oefont-map-cursor"></div>
                    <div class="__poi-hd-title u-title_dot">旅行地</div>
                </div>
                <div class="__poi-bd">
                    <div class="__poi-item">
                        <div class="__poi-item-img u-placeholder">
                            <img src="http://weijing.qiniudn.com/u-placeholder_1x1.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg" alt=""/>
                        </div>
                        <div class="__poi-item-text">大喇叭</div>
                    </div>
                    <div class="__poi-item">
                        <div class="__poi-item-img u-placeholder">
                            <img src="http://weijing.qiniudn.com/u-placeholder_1x1.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg" alt=""/>
                        </div>
                        <div class="__poi-item-text">大喇叭</div>
                    </div>
                    <div class="__poi-item">
                        <div class="__poi-item-img u-placeholder">
                            <img src="http://weijing.qiniudn.com/u-placeholder_1x1.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg" alt=""/>
                        </div>
                        <div class="__poi-item-text">大喇叭</div>
                    </div>
                    <div class="__poi-item">
                        <div class="__poi-item-img u-placeholder">
                            <img src="http://weijing.qiniudn.com/u-placeholder_1x1.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg" alt=""/>
                        </div>
                        <div class="__poi-item-text">大喇叭</div>
                    </div>
                    <div class="__poi-item">
                        <div class="__poi-item-img u-placeholder">
                            <img src="http://weijing.qiniudn.com/u-placeholder_1x1.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg" alt=""/>
                        </div>
                        <div class="__poi-item-text">大喇叭</div>
                    </div>
                    <div class="__poi-item">
                        <div class="__poi-item-img u-placeholder">
                            <img src="http://weijing.qiniudn.com/u-placeholder_1x1.png" lazyload="http://weijing.qiniudn.com/palau_01.jpg" alt=""/>
                        </div>
                        <div class="__poi-item-text">大喇叭</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>