@font-face {
  font-family: "oefont";
  src: url("../fonts/oefont.eot?-e0pdkt");
  src: url("../fonts/oefont.eot?#iefix-e0pdkt") format("embedded-opentype"), url("../fonts/oefont.woff?-e0pdkt") format("woff"), url("../fonts/oefont.ttf?-e0pdkt") format("truetype"), url("../fonts/oefont.svg?-e0pdkt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="oefont"],
[class*=" oefont"] {
  font-family: "oefont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.oefont-quote:before {
  content: "\e619";
}
.oefont-quote:after {
  content: "\e618";
}
.oefont-char-mudidi:before {
  content: "\e604";
}
.oefont-route-new:before {
  content: "\e62b";
}
.oefont-pay-success:before {
  content: "\e629";
}
.oefont-pay-fail:before {
  content: "\e62a";
}
.oefont-arrow-up:before {
  content: "\e626";
}
.oefont-arrow-down:before {
  content: "\e627";
}
.oefont-arrow-left:before {
  content: "\e628";
}
.oefont-arrow-right:before {
  content: "\e625";
}
.oefont-digest:before {
  content: "\e60e";
}
.oefont-remind:before {
  content: "\e61f";
}
.oefont-recommand:before {
  content: "\e620";
}
.oefont-season:before {
  content: "\e621";
}
.oefont-feature:before {
  content: "\e622";
}
.oefont-schedual:before {
  content: "\e623";
}
.oefont-close:before {
  content: "\e624";
}
.oefont-menu:before {
  content: "\e600";
}
.oefont-food-bold:before {
  content: "\e601";
}
.oefont-calendar:before {
  content: "\e602";
}
.oefont-map:before {
  content: "\e603";
}
.oefont-price:before {
  content: "\e606";
}
.oefont-phone:before {
  content: "\e607";
}
.oefont-bookmark:before {
  content: "\e608";
}
.oefont-convert:before {
  content: "\e609";
}
.oefont-cost:before {
  content: "\e60a";
}
.oefont-nearby:before {
  content: "\e60b";
}
.oefont-plane:before {
  content: "\e60c";
}
.oefont-char-jingxuan:before {
  content: "\e60f";
}
.oefont-flag:before {
  content: "\e610";
}
.oefont-hotel-bold:before {
  content: "\e611";
}
.oefont-hotel:before {
  content: "\e612";
}
.oefont-map-cursor-bold:before {
  content: "\e613";
}
.oefont-food:before {
  content: "\e614";
}
.oefont-map-cursor:before {
  content: "\e616";
}
.oefont-visa:before {
  content: "\e617";
}
.oefont-right-quote:before {
  content: "\e618";
}
.oefont-left-quote:before {
  content: "\e619";
}
.oefont-order-sheet:before {
  content: "\e61a";
}
.oefont-route:before {
  content: "\e61b";
}
.oefont-route-sheet:before {
  content: "\e61c";
}
.oefont-notice:before {
  content: "\e61e";
}
