html {
  font-size: 16px;
}
/*!
 * Created By remiel.
 * Date: 14-6-9
 * Time: 上午10:32
 */
html {
  line-height: 1;
  font-family: Helvetica,DroidSans;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body,
img,
input,
ul,
li,
h2,
h3,
h4,
p,
table,
tr,
td,
textarea {
  margin: 0;
  padding: 0;
}
h3,
h4 {
  font-weight: normal;
}
body {
  word-break: break-all;
  word-wrap: break-word;
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  color: #000;
  font-size: 0.375rem;
  line-height: 1.5;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: 0;
}
table {
  border-spacing: 0;
}
textarea {
  border: 0 none;
  outline: 0 none;
  resize: none;
  display: block;
}
/*!
 * Created By remiel.
 * Date: 14-6-9
 * Time: 上午10:14
 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.ti2em {
  text-indent: 2em;
}
.hide {
  display: none;
}
.wt-placeholder {
  background-color: #f1f1f1;
  background-image: url("/assets/placeholder/logo.png");
  background-repeat: no-repeat;
  background-size: 3.75rem;
  background-position: center center;
}
.wt-hide {
  opacity: 0;
}
.wt-show {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in 0.01s;
  -moz-transition: all 0.4s ease-in 0.01s;
  -o-transition: all 0.4s ease-in 0.01s;
  transition: all 0.4s ease-in 0.01s;
}
.wx_indicator {
  background: rgba(0, 0, 0, 0.5) url('/assets/images/indicator.png') no-repeat center top;
  background-size: 100% auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}
.box_flex {
  display: -webkit-box;
  display: box;
}
.box_flex_inner {
  -webkit-box-flex: 1;
  box-flex: 1;
  width: .001%;
}
.link_box {
  display: block;
  color: #000;
}
img {
  width: 100%;
  display: block;
  pointer-events: none;
}
img[lazyload] {
  background: rgba(0, 0, 0, 0.1) url("http://weijing.qiniudn.com/common_logo_lazyload.png") no-repeat center center;
}
.wx_indicator {
  background-image: url("http://weijing.qiniudn.com/promotion-indicator.png");
}
body {
  min-height: 100%;
  font-size: 0.875rem;
}
.wrapper {
  line-height: 1.25rem;
  color: #393939;
  font-size: 0.875rem;
  position: relative;
  overflow: hidden;
}
.inner {
  margin: 0.4375rem 0.375rem;
  overflow: hidden;
}
.ft {
  height: 3.4375rem;
}
.ft_inner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 3.4375rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.3125rem 0.8125rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ft_btn,
.btn_01 {
  display: block;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1.5625rem;
  line-height: 2.6875rem;
  height: 2.6875rem;
  border-radius: 0.25rem;
  background: #fe8f00;
  -webkit-box-shadow: 0 0.125rem 0 rgba(180, 101, 0, 0.75);
  box-shadow: 0 0.125rem 0 rgba(180, 101, 0, 0.75);
  text-shadow: 0 0 0.125rem #dd4a00;
  color: #fff;
}
.gallery {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0rem;
  overflow: hidden;
  background: #000;
}
.gallery ul,
.gallery li,
.gallery .m-carousel {
  height: 100%;
}
.gallery li {
  background-color: #000;
  position: relative;
  overflow: hidden;
  opacity: 0;
}
.gallery img {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.gallery .m-carousel-controls,
.gallery .img_placeholder {
  background-image: url("../../images/common/logo_lazyload.png?v=2014061301");
  background-repeat: no-repeat;
  background-size: 3.75rem;
  background-position: center center;
}
.gallery .img_hide,
.gallery .wj_hide {
  opacity: 0;
}
.gallery .img_show,
.gallery .wj_show {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in 0.01s;
  -moz-transition: all 0.4s ease-in 0.01s;
  -o-transition: all 0.4s ease-in 0.01s;
  transition: all 0.4s ease-in 0.01s;
}
.gallery .m-item .item_bg {
  position: absolute;
  top: 0;
  left: 0;
}
.gallery h1 {
  font-size: 1.3125rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  -webkit-transform: translate3d(0, -250%, 0);
  transform: translate3d(0, -250%, 0);
  opacity: 0;
}
.gallery h1.wj_show {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.gallery .info {
  position: absolute;
  top: 2.1875rem;
  left: 3.125rem;
  right: 0;
  font-size: 0.875rem;
}
.gallery .content {
  padding: 1.5rem 2.8125rem 1.5rem 0.625rem;
  line-height: 1.0625rem;
  color: #fff;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}
.gallery .content.wj_show {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.gallery .content span {
  font-weight: bold;
}
.gallery .exchange_btn {
  display: inline-block;
  width: 2.625rem;
  height: 2.75rem;
  position: relative;
  background: url("/assets/images/draw/ico_01@2x.png?v=2014061301") no-repeat;
  background-size: 2.625rem auto;
}
.gallery .exchange_btn.wj_show {
  -webkit-transition: all 0.4s ease-in 0.6s;
  -moz-transition: all 0.4s ease-in 0.6s;
  -o-transition: all 0.4s ease-in 0.6s;
  transition: all 0.4s ease-in 0.6s;
}
.gallery .ico_03,
.gallery .ico_04,
.gallery .ico_05,
.gallery .ico_06 {
  padding-left: 1.1875rem;
  position: relative;
  margin-top: 0.3125rem;
}
.gallery .ico_03:before,
.gallery .ico_04:before,
.gallery .ico_05:before,
.gallery .ico_06:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.0625rem;
  width: 1rem;
  height: 1rem;
  background-size: 1rem auto;
  background-repeat: no-repeat;
}
.gallery .ico_03:before {
  background-image: url("/assets/images/draw/ico_03@2x.png?v=2014061301");
}
.gallery .ico_04:before {
  background-image: url("/assets/images/draw/ico_04@2x.png?v=2014061301");
}
.gallery .ico_05:before {
  background-image: url("/assets/images/draw/ico_05@2x.png?v=2014061301");
}
.gallery .ico_06:before {
  background-image: url("/assets/images/draw/ico_06@2x.png?v=2014061301");
}
.gallery .op_0 {
  opacity: 0;
}
.gallery .op_1 {
  opacity: 1;
}
.ticket_btn {
  width: 13.75rem;
  height: 8.5625rem;
  background: url("http://weijing.qiniudn.com/opendayFun_ticket_btn.png") no-repeat;
  background-size: 100% auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.ticket_btn_hide {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}
.share_btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.375rem;
  width: 3.4375rem;
  height: 3.4375rem;
  margin: auto;
  background: url("/assets/images/draw/ico_share@2x.png?v=2014061301");
  background-size: 100% auto;
  z-index: 999;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
  -webkit-transform: translate3d(0, 150%, 0);
  transform: translate3d(0, 150%, 0);
}
.share_btn_show {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.home_02,
.home_03,
.home_04,
.home_05,
.home_06 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: 100% auto;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
  background-repeat: no-repeat;
}
.home_02 {
  background-image: url("http://weijing.qiniudn.com/opendayFun_home_02.png");
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.home_03 {
  background-image: url("http://weijing.qiniudn.com/opendayFun_home_03.png");
  opacity: 0;
}
.home_03.wj_show {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in 0.6s;
  -moz-transition: all 0.4s ease-in 0.6s;
  -o-transition: all 0.4s ease-in 0.6s;
  transition: all 0.4s ease-in 0.6s;
}
.home_04 {
  background-image: url("http://weijing.qiniudn.com/opendayFun_home_04.png");
  width: 9.6875rem;
  height: 9.625rem;
  background-size: auto 100%;
  bottom: auto;
  top: 3.25rem;
  margin: auto;
  -webkit-transform: scale(0.5) rotate(180deg);
  transform: scale(0.5) rotate(180deg);
  opacity: 0;
}
.home_04.wj_show {
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  opacity: 1;
  -webkit-transition: all 0.6s ease-in 0.2s;
  -moz-transition: all 0.6s ease-in 0.2s;
  -o-transition: all 0.6s ease-in 0.2s;
  transition: all 0.6s ease-in 0.2s;
}
.home_05 {
  background-image: url("http://weijing.qiniudn.com/opendayFun_home_05.png");
  opacity: 0;
}
.home_05.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
}
.home_06 {
  background-image: url("http://weijing.qiniudn.com/opendayFun_home_06.png");
  opacity: 0;
}
.home_06.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
.ico_07 {
  position: absolute;
  left: auto;
  bottom: auto;
  right: 1.5rem;
  opacity: 0;
  width: 3.4375rem;
  height: 2.8125rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url("/assets/images/draw/ico_07@2x.png");
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.ico_07.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
.instruction {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.instruction.wj_hide {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.instruction_01,
.instruction_02 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.instruction_01 {
  top: 0;
  bottom: 0;
  width: 16.875rem;
  height: 8.75rem;
  background: url("http://weijing.qiniudn.com/opendayFun_instruction_01@2x.png") no-repeat;
  background-size: auto 100%;
}
.instruction_02 {
  bottom: 0.375rem;
  width: 11.9375rem;
  height: 9.375rem;
  background: url("http://weijing.qiniudn.com/opendayFun_instruction_02@2x.png") no-repeat;
  background-size: 100% auto;
}
.roll_wrap {
  opacity: 0;
  font-size: 0.75rem;
  color: #fff;
  white-space: nowrap;
  line-height: 1.25rem;
  position: absolute;
  top: 19.375rem;
  left: 4.6875rem;
  right: 4.6875rem;
  z-index: 1;
  overflow: hidden;
  margin: auto;
}
.roll_wrap.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.roll_inner {
  overflow: hidden;
  white-space: nowrap;
  float: left;
}
.roll_item {
  padding-bottom: 0.375rem;
  background: url("/assets/images/draw/ico_roll@2x.png?v=2014061301") repeat-x 0 bottom;
  background-size: auto 0.3125rem;
  display: inline-block;
}
.counter {
  position: absolute;
  right: 0;
  top: 0.875rem;
  background: rgba(46, 167, 255, 0.4);
  padding: 0.3125rem 0.75rem;
  color: #fff;
  font-size: 0.875rem;
  opacity: 0;
}
.counter:before {
  content: '';
  position: absolute;
  left: -0.1875rem;
  top: -0.3125rem;
  background: url("/assets/images/draw/ico_count@2x.png?v=2014061301") no-repeat;
  background-size: 100% auto;
  width: 0.875rem;
  height: 1.5rem;
}
.counter.animated {
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.home_loading {
  background: #000000;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  color: #fff;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  -webkit-transition: all 1s ease-in 0s;
  -moz-transition: all 1s ease-in 0s;
  -o-transition: all 1s ease-in 0s;
  transition: all 1s ease-in 0s;
}
.home_loading .inner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 3.75rem;
  height: 5rem;
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.home_loading .inner:before {
  content: '';
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 3.75rem;
  background: url("http://weijing.qiniudn.com/common-logo120x120.png");
  background-size: 100% auto;
}
.home_loading.done {
  /*.translate3d(0,100%,0);*/
  opacity: 0;
}
.home_loading_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 0.125rem;
  background: green;
  -webkit-transition: all 1.6s ease-in-out 0s;
  -moz-transition: all 1.6s ease-in-out 0s;
  -o-transition: all 1.6s ease-in-out 0s;
  transition: all 1.6s ease-in-out 0s;
}
.home_loading_bar.done {
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transition: all 0.4s ease-in 0s;
}
.popup {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}
.popup_box {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: -5.3125rem auto 0;
  width: 18.125rem;
  padding: 1.4375rem 0 0.875rem;
  background: #fff;
  border-radius: 0.3125rem;
}
.popup_hd {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.popup_bd {
  font-size: 0.875rem;
  padding: 0 2.5rem;
  margin-bottom: 1rem;
}
.popup_ft .box_flex_inner {
  text-align: center;
}
.popup_btn {
  display: inline-block;
  vertical-align: top;
  padding: 0 0.875rem;
  min-width: 3.125rem;
  line-height: 1.4375rem;
  color: #fff;
  font-size: 0.875rem;
  background: #ea68a2;
  border-radius: 0.25rem;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes ico_exchange {
  0%,
  50%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25%,
  75% {
    -webkit-transform: translate3d(0, 0.625rem, 0);
    transform: translate3d(0, 0.625rem, 0);
  }
}
@keyframes ico_exchange {
  0%,
  50%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25%,
  75% {
    -webkit-transform: translate3d(0, 0.625rem, 0);
    transform: translate3d(0, 0.625rem, 0);
  }
}
.ico_exchange {
  -webkit-animation-name: ico_exchange;
  animation-name: ico_exchange;
}
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
.flipInX {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}
@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    -ms-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}
@-webkit-keyframes animate_slide {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes animate_slide {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate_slide {
  opacity: 1;
  -webkit-animation-name: animate_slide;
  animation-name: animate_slide;
}
