<script type="text/template" id="template__menu">
    <div class="menu">
        <div class="__inner">
            <div class="__hd">
                <div class="__avatar">
                    <img src="" alt=""/>
                </div>
                <div class="__hd-content">
                    <div class="__hd-user-name">热灭了</div>
                    <div class="__hd-user-info">
                        <span>积分：</span>
                        <span class="u-mr_10">200</span>
                        <span>鲸币：</span>
                        <span>165</span>
                    </div>
                </div>
            </div>
            <div class="__bd">
                <a href="http://www.baidu.com#1" class="__item _active">
                    <i class="__item-icon oefont-digest"></i>
                    <span>精选</span>
                    <span class="__item-count"></span>
                </a>
                <a href="http://www.baidu.com#2" class="__item">
                    <i class="__item-icon oefont-map-cursor"></i>
                    <span>目的地</span>
                    <span class="__item-count">1</span>
                </a>
                <a href="http://www.baidu.com#3" class="__item">
                    <i class="__item-icon oefont-route"></i>
                    <span>行程单</span>
                    <span class="__item-count">2</span>
                </a>
                <a href="http://www.baidu.com#4" class="__item">
                    <i class="__item-icon oefont-order-sheet"></i>
                    <span>我的订单</span>
                    <span class="__item-count"></span>
                </a>
                <a href="http://www.baidu.com#5" class="__item">
                    <i class="__item-icon oefont-price"></i>
                    <span>抵用券余额</span>
                    <span class="__item-count"></span>
                </a>
                <a href="http://www.baidu.com#6" class="__item">
                    <i class="__item-icon oefont-nearby"></i>
                    <span>附近</span>
                    <span class="__item-count"></span>
                </a>
                <a href="http://www.baidu.com#7" class="__item">
                    <i class="__item-icon oefont-bookmark"></i>
                    <span>动态</span>
                    <span class="__item-count">4</span>
                </a>
                <a href="http://www.baidu.com#8" class="__item">
                    <i class="__item-icon oefont-convert"></i>
                    <span>兑换中心</span>
                    <span class="__item-count"></span>
                </a>
            </div>
        </div>
    </div>
</script>
